// colors for site 8E2800 B64926 FFB03B FFF0A5 468966


//Fonts for Title and nav

.site-title,{
	font-size: 32px;
	font-family: 'Amatic SC', cursive;
	letter-spacing: normal;
}

.page-link{
	font-size: 26px;
	font-family: 'Amatic SC', cursive;
}

.post-title{
	font-size: 42px;
	font-family: 'Amatic SC', cursive;
}

body{
	background-color: #FFF0A5;
}

.site-header{
	border-top: none;
	border-bottom: 2px solid #468966;
}

.site-footer{
	border-top: 2px solid #468966;
}