// colors for site 8E2800 B64926 FFB03B FFF0A5 468966

//mixin to handle thumbnail images on site. 
@mixin thumbnail(){
	width: 200px;
	float: right;
	padding: 10px;
}

//variable for font style
$font-stack: 'Amatic SC', curisve;

//Fonts for Title and nav

.site-title,{
	font-size: 32px;
	font-family: $font-stack;
	letter-spacing: normal;
}

.page-link{
	font-size: 26px;
	font-family: $font-stack;
}

.post-title{
	font-size: 42px;
	font-family: $font-stack
}

//body{
//	background-color: #FFF0A5;
//}


a.page-link{
	color: #468966;
}
a.page-link:hover{
	color: darken(#B64926, 15%);
}

.site-footer{
	border-top: solid 2px #B64926;
}



.btn {
 	font-family: Arial;
 	color: #FFF;
 	font-size: 15px;
 	background: #FFB03B;
 	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:hover {
  background: lighten(#B64926, 10%);
  text-decoration: none;
}

//Centers button
.btn{
	display: block;
	margin: auto;
	width: 170px;
}

.salon{
	padding: 1em 2em;
}


//image edits
img[src*="joseMunoz"]{
	@include thumbnail;
}

img[src*="nail"]{
	@include thumbnail;
}